@page "/"
@using System.Text
@using System.Net.WebSockets

<PageTitle>Index</PageTitle>

<button @onclick="Start">Start</button>

@code {
    private ClientConnection? clientConnection;

    async Task Start()
    {
        clientConnection = new(new ClientWebSocket());
        await clientConnection.ConnectAsync(new Uri("wss://localhost:1337"));
        await clientConnection.ListenAsync();
    }
}